.header {
  display: flex;
  justify-content: center;
  height: 50px;

  background-color: #434343;
  box-shadow: 0 1px 5px 0px #999999, 0 -1px 0px 0px #383838 inset;
}

.header-title {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;

  font-weight: bold;
  color: white;
  user-select: none;
}
